@media (min-width:992px) and (max-width:1180px){
    .container-fuild{
        width: 100%;
    }

    .headerleft{
        margin-top: 12%;
        padding: 0 12% 0 12%;
    }

    .about-section__description__header{
        line-height: 1.5rem;
    }
}

@media (max-width:991px){
    .selected{
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
    }

    .caroseul-button{
       left: 75%;
    }

    .caroseul-button__left{
        width: 12%;
        padding: 2rem ;
    }

    .caroseul-button__right{
        width: 12%;
        padding: 2rem ;
    }

    /* section left */

    .headerleft{
        margin-bottom: 20%;
    }

    /* about section */
    .about-section{
        display: block;
    }

    .about-section__description{
        padding:15% 12% 12%;
    }

    .about-section__img{
        width: 100%;
    }

    /* navbar */
    #mobile-nav-icon{
        display: block;
        margin-top: 2%;
    }
    .navbar-list{
        display: none;
        position: absolute;
        font-weight: 600;
        top: -45px;
        left: -7.9%;
        height: 100px;
    }

    /* .navigation{
        position: absolute;
        top: 7%;
        left: 8%;
    } */

    .background{
        background-color: white;
        width: 100%;
    }

    .showing{
        display: flex;
    }

    .navbar-brand{
        margin-left: 380px;
    }

    .navbar-link{
        color: black;  
    }

    .navbar-item{
        margin-top: 7%;
        margin-left: 8%;
    }

    .navbar-item:first-child{
        margin-left: 20%;
    }

    .navbar-link:hover{
        color: black;
    }

    .navbar-link:hover:after{
        color:black;
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 0 auto; /* This will center the border. */
        width: 50%; /* Change this to whatever width you want. */
        padding-top: 5px; /* This creates some space between the element and the border. */
        border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
    }
}

@media(max-width:770px){
    .caroseul-button{
        left: 80%;
     }

    .caroseul-button__right{
        width: 10%;
        padding-left: 3rem;
    }

    .caroseul-button__left{
        width: 10%;
        padding-left: 3rem;
    }

    .navbar-brand{
        margin-left: 300px;
    }

    .navbar-list{
        left: -8%;
        height: 120px;
    }

    .navbar-item{
        margin-top: 10%;
    }

    .navbar-item:first-child{
        margin-left: 20%;
    }
    
    #mobile-nav-icon{
        margin-top: 2%;
    }
}


@media (max-width:540px){
    .caroseul-button{
        left: 73%;
     }
 
     .caroseul-button__left{
         width: 13.4%;
         padding: 2rem ;
     }
 
     .caroseul-button__right{
         width: 13.4%;
         padding: 2rem ;
     }
 
     .about-section__img{
         width: 100%;
     }
 
     
     #mobile-nav-icon{
        margin-top: 6%;
     }
     .navbar-list{
         height: 120px;
     }
 
     .navbar-brand{
         margin-left: 210px;
     }
 
     .navbar-link{
         color: black;  
     }
    
     .navbar-item{
        margin-top: 13%;
    }
     
 
     .navbar-item:first-child{
         margin-left: 20%;
     }
}

@media (max-width:400px){

    .caroseul-button{
        left: 73%;
    }

    .navbar-brand{
        margin-left: 140px;
    }

    .navbar-item{
        margin-top: 18%;
        margin-left: 5%;
    }

    .navbar-item:first-child{
        margin-left: 22%;
    }
}